{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'main/headerright.css' %}">
</head>

<body bgcolor="#4169E1">
    <form name="f">
        <table align="left">
            <tr>
                <td>
                    <a href="main/home.html" target="body">Home</a>
                </td>
                <td>
                    <a href="main/login.html" target="body">Login</a>
                </td>
                <td>
                    <a href="" target="body">Help</a>
                </td>
                <td>
                    <a href="" target="">Contact</a>
                </td>
            </tr>
            </div>
        </table>
    </form>
</body>

</html>