{% extends 'main/layout.html' %}
{% load static %}

{% block head %}
<title>Welcome to CollegePredictor</title>
<link rel="stylesheet" href="{% static 'main/home.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
    <div class="topnav">
        <label>College Predictor</label>
        <div class="search-container">
            <form action="">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <a href="">Contact</a>
        <a href="">About Us</a>
        <a href="">Login</a>
        <a href="" class="active">Home</a>
    </div>


    <div class="context">

    </div>

<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

{% endblock %}