{% extends 'main/layout.html' %}
{% load static %}

{% block head %}
<title>CollegePredictor</title>
<link rel="stylesheet" href="{% static 'main/logout.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
    <div class="topnav">
        <label>College Predictor</label>
        <div class="search-container">
            <form action="">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        {% if check %}
        <a href="{% url 'main:logout' %}" >Logout</a>
        <a href="{% url 'main:contactUs' %}">Contact Us</a>
        <a href="{% url 'main:aboutUs' %}">About Us</a>
        <a href="{% url 'main:home' %}" >Home</a>
        {% else %}
        <a href="{% url 'main:contactUs' %}">Contact Us</a>
        <a href="{% url 'main:aboutUs' %}">About Us</a>
        <a href="{% url 'main:login' %}" >Login/Signup</a>
        <a href="{% url 'main:home' %}" >Home</a>
        {% endif %}
    </div>


    <div class="context">
        here lies logout page
    </div>

<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

{% endblock %}