{% extends 'main/layout.html' %}
{% load static %}

{% block head %}
    <title>CollegePredictor</title>
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/result1.css' %}">

    <style>
        table {
          background-color: white;
          width:100%;
          border:2px solid black;
        }
  
        th, td {
    text-align: center;
    padding: 8px;
  }
  
    tr:nth-child(even) {background-color: #f2f2f2;}
      </style>
   
{% endblock %}

{% block body %}
<div class="topnav">
    <label>College Predictor</label>
    <div class="search-container">
        <form action="{% url 'main:searchresult' %}" method="GET">
            <input name="search-box" type="text" placeholder="Type College Name">
            <button type="submit" value="Enter" style="color: grey;">Enter</button>
        </form>   
    </div>

    {% if check %}
        <a href="{% url 'main:logout' %}" >Logout</a>
        <a href="{% url 'main:contactUs' %}">Contact Us</a>
        <a href="{% url 'main:aboutUs' %}">About Us</a>
        <a href="{% url 'main:home' %}" >Home</a>
        {% else %}
        <a href="{% url 'main:contactUs' %}">Contact Us</a>
        <a href="{% url 'main:aboutUs' %}">About Us</a>
        <a href="{% url 'main:login' %}" >Login/Signup</a>
        <a href="{% url 'main:home' %}" >Home</a>
        {% endif %}

    </div>

    <div class="outer">
        <p style="text-align: center;color: white;">Result</p>
        <div class="inner">
              {% if errors %}
              <p style="text-align: center;color: rgb(250, 44, 44);">Please enter a Valid Name or Character</p>
              {% else %}
              <table>
                <tr>
                    <th>Eamcet Code</th>
                    <th>College Name</th>
                    <th>Course Code</th>
                    <th>Place</th>
                    <th>Contact No.</th>
                    <th>Website</th>
                    <th>NBA Accredition</th>
                    <th>NAAC Rating</th>
                    <th>NIRF Ranking</th>
                </tr>
                {% for i in qs %}
              <tr>
                <td>
                   {{i.Eamcet_Code}}
                </td>
                <td>
                  {{i.College_Name}}
               </td>
                <td>
                  {{i.Course_Code}}
                </td>
                <td>
                    {{i.Place}}
                </td>
                <td>
                    {% if i.Contact_No == None %}
                    <label><img src="https://img.icons8.com/metro/26/000000/horizontal-line.png"/></label>
                    {% else %}
                  {{i.Contact_No}}
                  {% endif %}
               </td>
               <td>
                  {% if i.Website == None %}
                  <label><img src="https://img.icons8.com/metro/26/000000/horizontal-line.png"/></label>
                  {% else %}
                  {{i.Website}}
                {% endif %}
               </td>
               <td>{% if i.NBA == None %}
                 <img src="https://img.icons8.com/flat_round/32/000000/delete-sign.png"/>
                 {% else %}
                <img src="https://img.icons8.com/flat_round/32/000000/checkmark.png"/>
                {% endif %}
              </td>
              <td>{% if i.NAAC == None %}
                <img src="https://img.icons8.com/flat_round/32/000000/delete-sign.png"/>
                {% else %}
                {{ i.NAAC }}
               {% endif %}
             </td>
             <td>{% if i.NIRF == None %}
              <img src="https://img.icons8.com/flat_round/32/000000/delete-sign.png"/>
              {% else %}
               {{ i.NIRF }}
             {% endif %}
           </td>
           {% endfor %}
        </table>
              {% endif %}
        </div>
    </div>


{% endblock %}